<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Form General Styles
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-form-general-styles [styles]="styles" (stylesChanged)="setFormStyles()"></app-form-general-styles>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Form Element Styles
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template [cdkPortalOutlet]="portal$ | async"></ng-template>
  </mat-expansion-panel>
</mat-accordion>