.form-items-buttons {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.form-element-styles-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 70vh;
  padding-left: 15px;
  padding-right: 15px;
}

// .icon {
//   position: absolute;
//   margin: auto;
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   text-align: center;
// }



// .form-elements-bottom-button {
//   display: flex;
//   flex-direction: column;
//   position: relative;
//   margin-right: 1px;
//   border-radius: 5px;
//   width: 100px;
//   height: 100%;
// }

.form-elements-bottom-buttons {
  height: 53px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}