<!-- <div class="homepage" cdkDropListGroup>
  <section class="form-builder-section first-section">
    sss
  </section>
  <section class="form-builder-section first-section">
    <ul class="drop-area" cdkDropList (cdkDropListDropped)="drop($event)">
      <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
      <ng-component class="new-form-element" *ngFor="let element of componentPortals" [cdkPortalOutlet]="element"></ng-component>
    </ul>
  </section>
  <section class="form-builder-section first-section" cdkDropList (cdkDropListDropped)="dropBack($event)">
    <div #dragItem class="item-to-drag" cdkDrag>
      <label>Input</label>
      <input  type="text" />
    </div>
    <div #dragItem class="item-to-drag" cdkDrag>
      <label>Textarea</label>
      <textarea ></textarea>
    </div>
    <div #dragItem class="item-to-drag" cdkDrag>
      <label>Select</label>
      <select  class="somepadding" name="sss" id="sss"></select>
    </div>
  </section>
</div> -->





<div cdkDropListGroup class="home-container">
  <div class="example-container ">
    <h2>1 section</h2>
    <div class="example-list first-section">
      <div style="white-space: pre">
        {{current | styles}}
      </div>
    </div>
  </div>
  <div class="example-container">
    <h2>2 section</h2>
    <div #customForm cdkDropList [cdkDropListData]="used" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box"  *ngFor="let item of used" (click)="customClick($event,item)" cdkDrag>
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        <app-selector [data]="item"></app-selector>
      </div>
    </div>
  </div>
  <div class="example-container">
    <h2>3 section</h2>
    <div cdkDropList [cdkDropListData]="available" class="example-list" (cdkDropListDropped)="drop($event)" [cdkDropListEnterPredicate]="noReturnPredicate">
      <div class="example-box"  *ngFor="let item of available" cdkDrag>
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        <app-selector [data]="item"></app-selector>
      </div>
    </div>
  </div>
</div>