.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.section-container {
  min-width: 30vw;
  display: inline-block;
  vertical-align: top;
  border: solid 1px #ccc;
  min-height: 90vh;
  border-radius: 4px;
}

.second-section,
.third-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}