<ng-container *ngIf="styles | isNotEmptyObj">
  <div class="form-styles-container">
    <mat-form-field *ngIf="styles.border !== undefined" appearance="fill">
      <mat-label>Border</mat-label>
      <input matInput placeholder="width style color" [(ngModel)]="styles.border">
    </mat-form-field>
    <mat-form-field *ngIf="styles.fontStyle !== undefined" appearance="fill">
      <mat-label>Font style</mat-label>
      <input matInput placeholder="normal, italic, oblique" [(ngModel)]="styles.fontStyle">
    </mat-form-field>
    <mat-form-field *ngIf="styles.backgroundColor !== undefined" appearance="fill">
      <mat-label>Background color</mat-label>
      <input matInput placeholder="rgb(0,0,0)..." [(ngModel)]="styles.backgroundColor">
    </mat-form-field>
    <button id="change-form-styles-btn" mat-raised-button color="accent" (click)="setFormStyles()">Change</button>
  </div>
</ng-container>