.garbage-can {
  background: rgba(255, 119, 119, 0.3);
}

.garbage-can-active {
  background: rgba(255, 119, 119, 0.8);
}

.edit-dropfield {
  background: rgba(160, 255, 136, 0.3);
}

.edit-dropfield-active {
  background: rgba(160, 255, 136, 0.8);
}

.icon {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}

.form-elements-bottom-button {
  position: relative;
  border-radius: 5px;
  width: 100px;
  height: 100%;
}