/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

textarea {
  resize: none;
}

input, select, textarea, button{font-style:inherit;}

.form-element-drop-placeholder {
  background-color: #cacaca ;
  opacity: 0.4;
  border: dotted 3px #999;
  min-height: 47px;
}

.form-styles-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 70vh;
  padding-left: 15px;
  padding-right: 15px;
}
