/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

:root {
  --button-height: 53px;
  --placeholder-border-width: 3px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

textarea {
  resize: none;
}

input,
select,
textarea,
button {
  font-style: inherit;
}

.custom-droplist {
  height: 100%;
  max-height: calc(100% - var(--button-height) - 10px);
}

.form-element-drop-placeholder {
  background-color: #cacaca;
  opacity: 0.4;
  border: dotted var(--placeholder-border-width) #999;
  min-height: calc(var(--button-height) - var(--placeholder-border-width)*2);
}

@media only screen and (min-width: 1080px) {
  .form-styles-container {
    overflow-y: scroll;
    max-height: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 1080px) {
  .form-styles-container {
    padding-left: 25%;
    padding-right: 25%;
  }
}

@media only screen and (max-width: 596px) {
  .form-styles-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.form-styles-container {
  display: flex;
  flex-direction: column;
}